page-profil {

}
.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #4679BD;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}
.pplcs{
    border:2px solid #ccc;
    border-radius:3px;
}
.profilephoto{
  width:100%;
  overflow: none;
  
}
.profileback{
    position: absolute;
    z-index: -1;
    width:100%;
    height:140px;

}
.grid1{
}
.grid2{
    margin:0px;
    padding:0px;
}
.baslik{
    margin:0px;
    padding: 0px;
    color:#fff;
}
.ust{
    width: 90%;
    margin-left:5%;
    background:transparent;
    border-radius:3px;
    margin-top:60px;
    margin-bottom:10px;
}
.description{
    color:#fff;
    font-size:4vw;
}
.shared{
    width:90%;
    margin-left:5%;
    background:#fefefe;
    margin-top:6px;
    margin-bottom:6px;
}
.sharedbaslik{
    margin:0px;
    color:#fff;
    text-shadow: 2px 2px #222;
}
.sharedimg{
    width:100%;
    height:80px;
    float:left;
}
.azrow{
    margin-top:-35px;
}
.profilpage{
    background:#ddd;
}