<ion-header>
  <ion-navbar color="danger">
    <ion-title>Danger</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="profilpage">
  <img src="http://www.wallpaperhd.pk/wp-content/uploads/2016/06/italian-sausage-and-tomato-sauce-wallpaper.jpg" class="profileback" imageViewer>
  <div class="ust">
    <ion-grid class="grid1">
      <ion-row>
        <ion-col width-25>
          <div class='square-box'>
            <div class='square-content pplcs'>
              <img src="{{img}}" class="profilephoto" imageViewer>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-grid class="grid2">
              <ion-row>
                <ion-col>
                  <h4 class="baslik">{{ad+" "+soyad}}</h4>
                  <div  class="description">{{bilgi.description}}</div> 
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="shared" *ngFor="let item of items" (click)="goDetail(item.id,bilgi.back)" >
    <img class="sharedimg" src="{{item.back}}">
    <ion-grid class="">
      <ion-row class="azrow">
        <ion-col width-10>
          <div class='square-box'>
            <div class='square-content'>
              <img src="{{item.pimg}}" class="sharedphoto">
            </div>
          </div>
        </ion-col>
        <ion-col><h6 class="sharedbaslik">{{item.res}}</h6></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{item.baslik}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{item.aciklama}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>




  <ion-fab right bottom  #fab>
    <button ion-fab mini (click)="refresh(fab2)"><ion-icon name="md-arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button (click)="tara()" ion-fab><ion-icon name="ios-barcode-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab left bottom  #fab2>
    <button ion-fab mini (click)="refresh(fab)"><ion-icon name="md-arrow-dropright"></ion-icon></button>
    <ion-fab-list side="right">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>