page-home {
}
.body{
	cursor: url("../images/back.png"), auto;
    background-image:url("../images/back.png");
	background-size:100% auto;
}
.item-block{
    border-top:0px !important;
}
.input{
	background-color:transparent;
}
.text{
    color:#fff !important;
}
.list{
    margin-top:60%;
}
.label1{
    text-align:center;
    color:#fff;
    width:70%;
    margin-left:15%;
}