

<ion-content class="body" padding>
 <ion-list class="list">
<h5 class="label1">Doğrulayabilmemiz için lütfen telefon numaranızı giriniz</h5>
  <ion-item  class="input text">
    <ion-input type="text" class="text" [(ngModel)]="telefon"></ion-input>
  </ion-item>

</ion-list>
  <button ion-button full color="danger" (click)="login()">Giriş Yap</button>
</ion-content>
