page-detail {

}

.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #4679BD;
}
.profilesquare{

    margin-top:-30px;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}
.profilephoto{
  width:100%;
  overflow: none;
  
}
.profileback{
    position: absolute;
    z-index: -1;
}
.grid1{
}
.grid2{
    margin:0px;
    padding:0px;
}
.baslik{
    margin:0px;
    padding: 0px;
    color:#333;
}
.ust{
    width: 90%;
    margin-left:5%;
    background:#fff;
    border-radius:3px;
    margin-top:60px;
}
.description{
    color:#393939;
    font-size:4vw;
}
.shared{
    width:90%;
    margin-left:5%;
    background:#fefefe;
    border-radius: 3px;
    margin-top:6px;
    margin-bottom:6px;
}
.sharedbaslik{
    margin:0px;
}