<ion-header>
  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >

  
  <div class="shared">
    <img class="sharedimg" src="{{detail.back}}">
    <ion-grid class="">
      <ion-row class="azrow">
        <ion-col width-10>
          <div class='square-box'>
            <div class='square-content'>
              <img src="{{detail.pimg}}" class="sharedphoto">
            </div>
          </div>
        </ion-col>
        <ion-col><h6 class="sharedbaslik">{{detail.res}}</h6></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{detail.baslik}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{detail.aciklama}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Fiyatı:</ion-col>
        <ion-col>{{detail.fiyat}} TL</ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
